<%= form_with(model: @job, local: true) do |form| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text_field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :job_name %>
  </div>

  <div class="text_area">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description %>
  </div>

  <div class="location_field">
    <%= form.label :origin %>
    <%= form.select :origin, ['CA', 'FL', 'LA', 'MD', 'NC', 'NJ', 'NY', 'PA', 'SC', 'TX', 'WA'] %>
  </div>

  <div class="location_field">
    <%= form.label :destination %>
    <%= form.select :destination, ['CA', 'FL', 'LA', 'MD', 'NC', 'NJ', 'NY', 'PA', 'SC', 'TX', 'WA'] %>
  </div>

  <div class="num_field">
    <%= form.label :cost %>
    <%= form.number_field :cost, id: :job_cost %>
  </div>

  <div class="num_field">
    <%= form.label :containers %>
    <%= form.number_field :containers, id: :job_containers %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
