<div class="jobTable">
  <p id="notice"><%= notice %></p>

  <h1>Jobs</h1>

  <table class="results">
    <thead>
      <tr>
        <th class="limit"><h2>Name</h2></th>
        <th class="limit"><h2>Description</h2></th>
        <th class="limit"><h2>Origin</h2></th>
        <th class="limit"><h2>Destination</h2></th>
        <th class="limit"><h2>Cost</h2></th>
        <th class="limit"><h2>Containers</h2></th>
        <th class="limit" colspan="7"><h2>Links</h2></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td class="limit"><%= job.name %></td>
          <td class="limit"><%= job.description %></td>
          <td class="limit"><%= job.origin %></td>
          <td class="limit"><%= job.destination %></td>
          <td class="limit"><%= job.cost %></td>
          <td class="limit"><%= job.containers %></td>
          <td class="limit"><%= link_to 'Show', job %>
              <%= link_to 'Edit', edit_job_path(job) %>
              <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Job', new_job_path %>
</div>
