<div class="user-show">
  <div class="user-boats">
    <h2>My Boats</h2>

    <% @boats.each do |boat| %>
    	<p><strong>Name:</strong> <%= boat.name %></p>
      <p><strong>Containers:</strong> <%= boat.containers %></p>
      <p><strong>Location:</strong> <%= boat.location %></p>
      <p><%= link_to "Show Boat", boat %></p>
      <hr>
    <% end %>
  </div>

  <div class="user-jobs">
    <h2>My Jobs</h2>
    <% @jobs.each do |job| %>
      <p><strong>Name:</strong> <%= job.name %></p>
      <p><strong>Description:</strong> <%= job.description %></p>
      <p><strong>Origin:</strong> <%= job.origin %></p>
      <p><strong>Destination:</strong> <%= job.destination %></p>
      <p><strong>Cost:</strong> <%= job.cost %></p>
      <p><strong>Containers:</strong> <%= job.containers %></p>
      <p><%= link_to 'Show Job', job %></p>
      <hr>
    <% end %>
  </div>

</div>
