<div class="user-show">
  <div class="user-boats">
    <h2>My Boats</h2>

    <% @boats.each do |boat| %>
    	<p><strong>Name:</strong></p>
         <p><%= boat.name %></p>
      <p><strong>Containers:</strong></p>
         <p><%= boat.containers %></p>
      <p><strong>Location:</strong></p>
         <p><%= boat.location %></p>
      <p><%= link_to "Show Boat", boat %></p>
      <hr>
    <% end %>
  </div>

  <div class="user-jobs">
    <h2>My Jobs</h2>
    <% @jobs.each do |job| %>
      <p><strong>Name:</strong></p>
        <p><%= job.name %></p>
      <p><strong>Description:</strong></p>
        <p><%= job.description %></p>
      <p><strong>Origin:</strong></p>
        <p><%= job.origin %></p>
      <p><strong>Destination:</strong></p>
        <p><%= job.destination %></p>
      <p><strong>Cost:</strong></p>
        <p><%= job.cost %></p>
      <p><strong>Containers:</strong></p>
        <p><%= job.containers %></p>
      <p><%= link_to 'Show Job', job %></p>
      <hr>
    <% end %>
  </div>

</div>
