<p id="notice"><%= notice %></p>

<h1>Boats</h1>

<table class="results">
  <thead>
    <tr>
      <th class="limit">Name</th>
      <th class="limit">Containers</th>
      <th class="limit">Location</th>
      <th class="limit" colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @boats.each do |boat| %>
      <tr>
        <td class="limit"><%= boat.name %></td>
        <td class="limit"><%= boat.containers %></td>
        <td class="limit"><%= boat.location %></td>
        <td class="limit"><%= link_to 'Show', boat %>
          <%= link_to 'Edit', edit_boat_path(boat) %>
          <%= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Boat', new_boat_path %>
